<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--Thymeleaf 템플릿-->
    <!--HTML에 서버데이터 넣으려면 우선 templates 폴더에 .html 파일 넣어둬야 함-->
    <h1>List 페이지</h1>

    <div>
        <!--Thymeleaf 문법 th:test= "${데이터 이름}"-->
        <h4 th:text = "${name}"></h4>
        <h4 th:text = "${test}"></h4>
    </div>
</body>
</html>